* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.6rem;
    font-weight: 400;
	text-align: center;
}

.top-container {
	background-color: #390099;
	color: #f3f4f8;
	position: relative;
}

.top-cloud {
	position: absolute;
	top: 5%;
	right: 20%;
}

h1{
	font-family: "Bigshot One", display, serif;
	font-size: 6rem;
	margin-top: 0;
}

.bottom-cloud {
	position: absolute;
    top: 100px;
    left: 300px;
}

.middle-container {
	background-color: #F3F4F8;
	height: 200px;
	width: 200px;
}

.bottom-container {
	background-color: #7D5BAD;
	height: 200px;
    width: 200px;
}