* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Alegreya Sans", sans-serif;
	font-size: 1.6rem;
    font-weight: 400;
	text-align: center;
}

.top-container {
	background-color: #390099;
	color: #f3f4f8;
	padding-top: 100px;
	position: relative;
}

.top-cloud {
	position: absolute;
	top: 10%;
	right: 20%;
}

.title{
	font-family: "Bigshot One", display, serif;
	font-size: 9rem;
	margin: 5rem 0 2rem;
}

.subtitle{
	font-size: 2.4rem;
}


.section-heading {
	font-family: "Bigshot One", display, serif;
	font-size: 3.2rem;
}

.skill-row {
	margin: 0 25rem;
	padding: 5rem 0;
	text-align: left;
}

.code-icon {
	float: left;
	width: 10%;
	margin-right: 2rem;
}

.gardening-icon {
	float: left;
	width: 10%;
	margin-right: 2rem;
}

.contact-me {
	clear: both;
}

h3 {
	font-family: "Alegreya Sans", sans-serif;
	color: #BC7AA6;
}

.footer-link {
	color: #BC7AA6;
	text-decoration: none;
	padding: 0 1rem;
}

.bottom-cloud {
	position: absolute;
    top: 45%;
    left: 20%;
}

.middle-container {
	background-color: #f3f4f8;
}

.bottom-container {
	background-color: #390099;
	color: #f3f4f8;
	padding: 2rem 0;
}