* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Alegreya Sans", sans-serif;
	font-size: 1.6rem;
    font-weight: 400;
	text-align: center;
}

.top-container {
	background-color: #390099;
	color: #f3f4f8;
	padding-top: 100px;
	position: relative;
}

.top-cloud {
	position: absolute;
	top: 5%;
	right: 30%;
}

h1{
	font-family: "Bigshot One", display, serif;
	font-size: 6rem;
	margin-top: 0;
}

h2 {
	font-family: "Bigshot One", display, serif;
}

h3 {
	font-family: "Alegreya Sans", sans-serif;
}

.bottom-cloud {
	position: absolute;
    top: 35%;
    left: 30%;
}

.middle-container {
	background-color: #f3f4f8;
}

.bottom-container {
	background-color: #390099;
	color: #f3f4f8;
}